@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* background:#eaeaea; */
    background: url(https://img.freepik.com/free-photo/gray-mountains-near-body-water_198169-290.jpg?w=1380&t=st=1712978876~exp=1712979476~hmac=4a3901be6d35030ab56232e9604d712618fc0448e5488098dd89f0e3993f01bd);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: linear-gradient(to left, #8b0000 20%, #8b0000 0%, transparent 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #eaeaee;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideRight .5s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #eaeaea;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navbar a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navbar a:hover {
    color: #eaeaea;
}

.social-media {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 40px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    transform: rotate(45deg);
    transition: .5s;
    opacity: 0;
    animation: slideSci 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    border-color: #eaeaea;
}

.social-media a i {
    font-size: 24px;
    color: #eaeaea;
    transform: rotate(-45deg);
}

.btnLogin {
    display: flex;
    text-align: center;
}

.btnLogin a{
    padding: 10px;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    border-radius: 10px;
    color: #eaeaea;
    font-weight: 600;
    transition: 0.5s;
    align-items: center;
    margin-top: 10px;
    outline: none;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
}

.btnLogin a:hover {
    color: #eaeaee;
    border-color: #eaeaea;
}


.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 8% 0;
    /* overflow: hidden; */
}

.home-content {
    max-width: 630px;
}

.home-content h1 {
    font-size: 50px;
    line-height: 1.2;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
    color: #eaeaea;
}

.home-content h3 {
    font-size: 40px;
    color: #8b0000;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    font-size: 16px;
    margin: 15px 0 30px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.6s;
    color: #eaeaea;
}

.btn {
    font-size: 20px;
    color: #eaeaea;
    background-color: darkred;
    text-decoration: none;
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 10px;
    font-weight: 500;
    transition: .3s;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 2s;
}

.btn:hover {
    color: darkred;
    border: 2px solid darkred;
    background-color: #eaeaea;
}

.home-img {
    position: relative;
    right: -7%;
    width: 450px;
    height: 450px;
    transform: rotate(45deg);
}

.home-img .rhombus {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #eaeaea;
    border: 25px solid #8b0000;
    box-shadow: -15px 15px 15px rgba(0, 0, 0, .2);
    opacity: 0;
    animation: zoomOut 1s ease forwards;
    animation-delay: 1.6s;
}

.home-img .rhombus img{
    position: absolute;
    top: 80px;
    left: -250px;
    max-width: 1000px;
    transform: rotate(-45deg);
    opacity: 0;
    animation: sines 1s ease forwards;
    animation-delay: 2s;
}

.home .rhombus2 {
    position: absolute;
    top: -25%;
    right: -20%;
    width: 700px;
    height: 700px;
    background: #8b0000;
    transform: rotate(45deg);
    z-index: -1;
    opacity: 0;
    animation: rhombus2 1s ease forwards;
    animation-delay: 1s;
}

/* keyframes animation */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideSci {
    0% {
        transform: translateX(100px) rotate(45deg);
        opacity: 0;
    }

    100% {
        transform: translateX(0) rotate(45deg);
        opacity: 1;
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1.1);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes sines {
    0% {
        transform: translate(300px, -300px) scale(0) rotate(-45deg);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0) scale(1) rotate(-45deg);
        opacity: 1;
    }
}

@keyframes rhombus2 {
    0% {
        right: -40%;
        opacity: 0;
    }

    100% {
        right: -20%;
        opacity: 1;
    }
}

@keyframes slideLog {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}